#cardc{
    position: relative;
    margin-top: 1px;
    padding: 1px;
    height: 50px;
    /* margin-left: 30px; */
   
}
#cardp{
width: 350px;
height: 105px;
padding: 35px ;
margin-left: 30px;
margin-top: 10px;

}

#btn{
    height: 40px;
    width: 76px;
    margin-right: 25px;
    margin-left: 20px;
    margin-top: 20px;
    background-color:cadetblue;
    color: white;

}
#btn:hover{
    background-color: darkcyan;
    color: white;
}
#img{
    /* width: 200px;
    height: 210px; */
}
.highlight{
    background-color: aquamarine;
    border: #ff5722 1px solid ;
    border-radius: 4px;
}

  #a{
    font-size: 18px;
  }