#btn{
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color:cadetblue;
    width: 76px;
    

  }
  #btn:hover{
    color:white;
    background-color: darkcyan;
  }

  a:hover{
    background-color: gray;
  }
  .img-fluid{
    width: 100%;
    height:100%;
  }