#btn{
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    background-color:cadetblue;
    width: 76px;
    

  }
  #btn:hover{
    color:white;
    background-color: darkcyan;
  }
#btnn:hover{
    background-color: red;
}
#btnn{
  border-radius: 4px;
}
  a:hover{
    background-color: gray;
  }
  .img-fluid{
    margin-top: 100px;
    width: 100%;
    height:80%;
  }
  #aa{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }
 
  .modal {
    display: block;
  }
  .modal-dialog {
    width: 400px;
    margin: auto;
  }
  .modal-content {
    background-color: #fff;
    border-radius: 5px;
  }
  .modal-header {
    padding: 10px 15px;
    border-bottom: 1px solid #ccc;
  }
  .modal-title {
    font-size: 16px;
    
  }
  .modal-body {
    padding: 15px;
  }
  .modal-footer {
    padding: 10px 15px;
    border-top: 1px solid #a3b3a5;
  }
 