
li {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  }
  
  li::before {
    border-radius: 10px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: transparent;
    background-color: aqua;
    transition: width 0.5s ease;
  }
  
  li a {
    display: block;
    padding: 0.5em 1em;
    color: black;
    text-decoration: none;
    transition: color 0.5s ease;
  }
  
  li:hover a {
    color: black;
    position: relative;
    z-index: 1;
  }
  li:hover::before {
    width: 100%;
  }

  li:hover {
    overflow: visible;
  }
  
  .active{
    background-color: aquamarine;
  }