<div >
  <button id="btn" type="button" class="btn btn-info me-auto" routerLink="/home">Back</button>
  <div>
    <app-filter (Buttonchanged)="radiochanged($event)"  [avail]="getavail()" [call]="getallitems()" [notavail]="getnot()"></app-filter>

  </div>
   
  
  <div id="cardc" class="d-flex justify-content-center flex-wrap ms-1 p-1 " >
    <div *ngFor="let item of product; let i = index" >
    <!-- <div [appHighlight]="item.Price=== mostpricedproduct.Price"> -->
    
    <div *ngIf=" sr==='' || item.Name.toLowerCase().includes(sr)">
      <div >
      <div id="cardp" class="card " style="width: 20rem; height: 30rem;" *ngIf="itemcountradio==='All' || itemcountradio===item.availbale" >
        <img id="img" [src]="item.Thumbnail" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.Name}}</h5>
          <h5 class="card-title">Rs {{item.Price}}</h5>
          <p class="card-text" [ngStyle]="{color: item.availbale==='Available'? 'Green' : 'Red'}">{{item.availbale}}</p>
          <div class="d-flex ">
            <a href="#" class="btn btn-primary me-auto">Buy Now</a>
            <a href="#" class="btn btn-secondary ms-auto"> Details</a>
  
          </div>
        </div>
      </div>
    
  </div>
</div>
</div>
   <!-- <div class="d-flex justify-content-center   ">
    <app-sample1></app-sample1>
    <app-sample2></app-sample2>
   </div> -->
  </div>
</div>

<!-- <ng-template #appBodyTemplate>
  <app-body></app-body>
</ng-template> -->
