<div *ngIf="btnclick; else appBodyTemplate ">
  
    
  
  <button id="btn" type="button" class="btn btn-info me-auto" (click)="Clicked()">Back</button>
  <div>
    <app-filter (Buttonchanged)="radiochanged($event)"  [avail]="getavail()" [call]="getallitems()" [notavail]="getnot()"></app-filter>

  </div>
   
  
  <div id="cardc" class="d-flex justify-content-left flex-wrap ms-5 p-3 " >
    <ng-container *ngFor="let item of product; let i = index" >
    <!-- <div [appHighlight]="item.Price=== mostpricedproduct.Price"> -->
    <div  >
   
      <div *ngIf="newsearch==='' || item.Name.toLowerCase().includes(newsearch)">
      <div class="card p-4 mb-2 ms-5 mt-5" style="width: 20rem; height: 28rem;" *ngIf="itemcountradio==='All' || itemcountradio===item.availbale" >
        <img id="img" [src]="item.Thumbnail" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{item.Name}}</h5>
          <h5 class="card-title">Rs {{item.Price}}</h5>
          <p class="card-text" [ngStyle]="{color: item.availbale==='Available'? 'Green' : 'Red'}">{{item.availbale}}</p>
          <div class="d-flex ">
            <a href="#" class="btn btn-primary me-auto">Buy Now</a>
            <a href="#" class="btn btn-secondary ms-auto"> Details</a>
  
          </div>
        </div>
      </div>
    </div>
  </div>
    </ng-container>
   <div class="d-flex justify-content-center   ">
    <app-sample1></app-sample1>
    <app-sample2></app-sample2>
   </div>
  </div>
</div>

<ng-template #appBodyTemplate>
  <app-body></app-body>
</ng-template>
